@model RegisterDTO
@{
    ViewBag.Title = "Đăng ký";
}

<div class="">
    <span>Đăng ký</span>
</div>

<div class="container">
    Bạn đã có tài khoản ? <a asp-action="Login" asp-controller="TaiKhoan" class="btn-link">Đăng nhập</a>
    <h2>Đăng ký</h2>

    <form asp-controller="TaiKhoan" asp-action="Register" method="post">

        @*PersonName*@
        <div class="form-field flex">
            <div class="w-25">
                <label asp-for="PersonName" class="form-label pt">Họ và tên</label>
            </div>
            <div class="flex-1 w-25">
                <input asp-for="PersonName" class="form-control"/>
                <span asp-validation-for="PersonName" class="text-danger"></span>
            </div>
        </div>

        @*Email*@
        <div class="form-field flex">
            <div class="w-25">
                <label asp-for="Email" class="form-label pt">Email</label>
            </div>
            <div class="flex-1 w-25">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>

        @*Phone*@
        <div class="form-field flex">
            <div class="w-25">
                <label asp-for="Phone" class="form-label pt">Số điện thoại</label>
            </div>
            <div class="flex-1 w-25">
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
        </div>

        @*Password*@
        <div class="form-field flex">
            <div class="w-25">
                <label asp-for="Password" class="form-label pt">Mật khẩu</label>
            </div>
            <div class="flex-1 w-25">
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>

        @*ConfirmPassword*@
        <div class="form-field flex">
            <div class="w-25">
                <label asp-for="ConfirmPassword" class="form-label pt">Nhập lại mật khẩu</label>
            </div>
            <div class="flex-1 w-25">
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>

        @*Register*@
        <div class="form-field flex">
            <div class="w-25">
            </div>
            <div class="flex-1">
                <button class="btn btn-success" type="submit">Đăng ký</button>

                <div asp-validation-summary="All" class="text-danger"></div>

                @if (ViewBag.Errors != null)
                {
                    <div class="text-red ml">
                        <ul>
                            @foreach (string error in ViewBag.Errors)
                            {
                                <li class="ml">@error</li>
                            }
                        </ul>
                    </div>
                }
            </div>
        </div>

    </form>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}