@model ASM_NET105_BanTui.Core.Domain.Models.LoaiSP

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit LoaiSP</h1>

<form asp-action="Edit" method="post">
    <div class="form-group">
        <label asp-for="TenLoaiSP" class="control-label"></label>
        <input asp-for="TenLoaiSP" class="form-control" />
        <span asp-validation-for="TenLoaiSP" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="MoTa" class="control-label"></label>
        <input asp-for="MoTa" class="form-control" />
        <span asp-validation-for="MoTa" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="TrangThai" class="control-label"></label>
        <input asp-for="TrangThai" class="form-control" />
        <span asp-validation-for="TrangThai" class="text-danger"></span>
    </div>

    <input type="hidden" asp-for="ID_LoaiSP" /> <!-- Thêm trường ẩn để giữ lại ID_LoaiSP -->

    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>
