@model ASM_NET105_BanTui.Core.Domain.Models.ChatLieu

@{
    ViewData["Title"] = "Edit";
}

<h3>Chỉnh sửa chất liệu</h3>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @* <div class="form-group">
                <label asp-for="ID_ChatLieu" class="control-label"></label>
                <input asp-for="ID_ChatLieu" class="form-control" readonly />
                <span asp-validation-for="ID_ChatLieu" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="TenChatLieu" class="control-label">Tên chất liệu</label>
                <input asp-for="TenChatLieu" class="form-control" />
                <span asp-validation-for="TenChatLieu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoTa" class="control-label">Mô tả</label>
                <input asp-for="MoTa" class="form-control" />
                <span asp-validation-for="MoTa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrangThai" class="control-label">Trạng thái</label>
                <select asp-for="TrangThai" class="form-control">
                    @{
                        string[] status = (string[])Enum.GetNames(typeof(StatusOptions));
                    }
                    @foreach (string item in status)
                    {
                        <option value="@item">@item</option>
                    }
                </select>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Cập nhật" class="btn btn-warning" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Quay lại danh sách chất liệu</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
